$blue: #232ade;
$neon-green: #28e02f;
$background-color: #faeede;

.homeContainer {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  font-family: 'Source Code Pro', monospace;

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .homeTitle {
    font-weight: 400;
    padding: 0 0 1rem 0;
    border-style: none none dashed none;
    border-width: 0.1rem;
    border-color: $blue;
    width: 100%;

    a:hover, a:focus, a:active {
      font-weight: bold;
    }

    .korean {
      color: #28e02f;
    }

    .pronouns {
      color: #de6e23;
    }
  
    .jobTitles {
      color: #232ade;
    }
  }

  .about {
    width: 100%;
    padding:  0 0.5rem;
    background-image: linear-gradient(rgb(202, 255, 252), yellow);
    border-style: double;
    box-shadow: 5px 5px 0 orange;

    a {
      text-decoration: underline dotted;
    }

    a:hover, 
    a:focus,
    a:active {
      background-color: #000000;
      color: #FFFFFF;
      font-style: italic;
      font-weight: bold;
    }
  }

  .topHolder {
    display:flex;
    width: 100%;
  }

  .list {
    width: 50%;
    background-color: $blue;
    color: #fff;
    margin: 1rem 0 2.25rem 0;
    padding: 20px 10px;
    border-style: double double double none;
    border-color: yellow;
    box-shadow: 5px 5px 2px rgb(255, 145, 0);

    ul {
      list-style-type: none;
      margin-right: 1rem;

      li {
        border: 0.1rem solid white;
        padding: 0.3rem 0.6rem;

        &:hover {
          background-color: white; 
          color: $blue;
          font-weight: bold;
          text-decoration: underline dotted;
        }
      }
    }
  }

  .listContent {
    border-style: dotted;
    border-color: #fff;
    padding: 0 1.5rem;
    margin-right: 0.3rem;
    border-width: 0.1rem;
    height: 100%;

    a {
      color: white;
      text-decoration: underline dotted;
    }

    a:hover, 
    a:focus, 
    a:active {
        color: black;
        background-color: white;
        font-weight: bold;
        font-style: italic;
        text-decoration: underline dotted;
    }

    .tidbit {
      background-color: yellow;
      color: #000;
      font-size: 0.8rem;
      padding: 0.5rem 0.8rem;
    }
  }

  .content {
    .projectContainer {
      width: 100%;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2rem;

      .projectItem {
        display: flex;
        flex-direction: column;
        margin: 0.3rem;
        border: 1px solid blue;
        padding: 1rem;
        width: 8rem;
        box-shadow: 5px 5px 0 $neon-green;

        a {
          font-size: 0.9rem;
          text-decoration: underline dotted;
          font-weight: bold;
          margin-bottom: 0.5rem;
        }

        a:hover, 
        a:active,
        a:focus {
          background-color: yellow;
          color: black;
        }

        p {
          font-size: 0.75rem;
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .projectPage {
    .projectTitle {
      h1 {
        font-weight: 400;
        padding-bottom: 0.6rem;
        border-bottom: dotted;
        border-color: #fff;
        border-width: 0.1rem;
        width: 99%;
      }

      padding: 0 0 1rem 1rem;
      margin: 0 10%;
      border-style: double;
      border-color: yellow;
      background-color: $blue;
      color: white;
      width: 80%;
      box-shadow: 5px 5px black;
    }

    .richText {
      margin: 0 20%;
      width: 60%;
      display: flex;
      flex-direction: column;

      p {
        padding: 2rem;
        border: 0.1rem solid black;
        box-shadow: 5px 5px black;
      }
      
      img {
        width: 50%;
        height: 50%;
        margin: 3% 20% 3% 20%;
        border: 0.1rem solid black;
        box-shadow: 5px 5px black;
      }

      a {
        text-decoration: underline dotted;
        font-weight: bold;

        &:hover, &:focus, &:active {
          background-color: black;
          color: #fff;
        }
      }
    }

    .backLink {
      margin: 1.5rem 0;
      a {
        text-decoration: underline dotted;

        &:hover, &:focus, &:active {
          font-weight: bold;
          background-color: black;
          color: white;
        }
      }
    }
  }


  footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .logo {
    height: 1em;
  }

  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
}